<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.metassafy.mapper.user.UserMapper">

    <insert id="regist">
        INSERT INTO User(user_id, user_pwd,name,area,email,regtime)
        VALUES (#{user_id}, #{user_pwd}, #{name},#{area},#{email},now());
    </insert>

    <select id="login"  resultType="com.ssafy.metassafy.dto.user.User">
        select * from User where user_id = #{user_id} and  user_pwd=#{user_pwd};
    </select>

</mapper>