.phone {
  background-color: rgb(214, 252, 255);
  border-radius: 6px;
  width: 20rem;
  height: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
}